.toplevel_page_mw_wp_hacks_admin_page .mwhacks-remove {
  cursor: pointer; }
.toplevel_page_mw_wp_hacks_admin_page table.form-table p {
  margin: 0 0 5px; }
.toplevel_page_mw_wp_hacks_admin_page table.data {
  border-top: #ccc solid 1px;
  border-right: #ccc solid 1px;
  margin: 0 0 10px;
  width: 100%; }
  .toplevel_page_mw_wp_hacks_admin_page table.data th, .toplevel_page_mw_wp_hacks_admin_page table.data td {
    border-bottom: #ccc solid 1px;
    border-left: #ccc solid 1px;
    padding: 5px 10px;
    vertical-align: middle; }
  .toplevel_page_mw_wp_hacks_admin_page table.data th {
    background-color: #eee; }
.toplevel_page_mw_wp_hacks_admin_page #mw-wp-hacks-widget table.data td input {
  width: 90%; }
