.toplevel_page_mw_wp_hacks_admin_page {
	.mwhacks-add {
	}

	.mwhacks-remove {
		cursor: pointer;
	}

	table.form-table {
		p {
			margin: 0 0 5px;
		}
	}

	table.data {
		border-top: #ccc solid 1px;
		border-right: #ccc solid 1px;
		margin: 0 0 10px;
		width: 100%;
		th, td {
			border-bottom: #ccc solid 1px;
			border-left: #ccc solid 1px;
			padding: 5px 10px;
			vertical-align: middle;
		}
		th {
			background-color: #eee;
		}
	}

	#mw-wp-hacks-description {
		.mw-wp-hacks-description-setting {
			border-top: #ddd dotted 1px;
			margin: 20px 0 0;
			padding: 10px 0 0;
			table {
				th, td {
					font-weight: normal;
					padding: 10px 10px 10px 0;
				}
			}
		}
	}

	#mw-wp-hacks-widget {
		table.data {
			td {
				input {
					width: 90%;
				}
			}
		}
	}
}
